.div1{
    background-color: rgb(191, 191, 222);
    color: brown;
    overflow-y: auto;
    height: 200px;
    width: 200px;
}

.div2{
    background-color: rgb(191, 191, 222);
    color: brown;
    overflow-x: hidden;
    height: 200px;
    width: 200px;
    
}


.div3{
    background-color: rgb(191, 191, 222);
    color: brown;
    height: 200px;
    width: 200px;
    overflow: scroll;
}
body{
    background-color: coral;
}
h1{
    color: blueviolet;
    background-color: blanchedalmond;
}
h3{
    color: blue;
    background-color: aquamarine;
}

