/* table{border: 3px solid red; background-color: rgb(22, 226, 83);}
textarea{background-color: blue;}
label{color: aqua;} */

/* div{
    height: 100px;
    width: 800px;
    background-color: rgb(229, 183, 127);
    text-align: center;
} */
/* h2,h4,h6{
    background-color: rgb(46, 6, 83);
    color: aliceblue;
}
.class1{
    background-color: rgb(10, 125, 87);
    text-align: right;
    color: antiquewhite;
}
#idname1{
    color: rgb(5, 5, 95);
    text-align: justify;
} */

/* CSS5:
*{color: rgb(47, 41, 204);
text-align: justify;
background-color: aquamarine;} */


/* h1{background-color: aquamarine; color: brown;}
body{
    background-color: rgb(230, 203, 203);
} */
/* css6:
section div p{
    color: blue;
}
body{
    background-color: bisque;
}
h1{color: red;
background-color: aquamarine;} */

/* CSS7:
.class1{
    color: red;
}
.class2 {
    color: blue;
}
h1{
    background-color: blueviolet;
    color: bisque;
    text-align: center;
}
h3{
    background-color: brown;
    color: aqua;
}
body{
    background-color: rgb(69, 240, 89);
} */

/* CSS8
#name1{
    color: blue;
}
#name2{
    color: brown;
}
#name3{
    background-color: aqua;
} */
/* CSS9
.abc{
    color: rgb(234, 216, 15);
}

.abc p{
    color: palevioletred;
} */

/* CCS1O
div>ul,a,h3{
    color: rgb(196, 48, 97);
}
body{
    background-color: rgb(7, 7, 118);
}
h1{
    color: rgb(18, 234, 234);
    background-color: bisque;
} */


 /* CSS11
table,th,td,tr{
    border: 2px solid green;
}
div{
    border: 2px solid green;
    background-color: aqua;
    color: brown;
    text-align: center;
    height: 30vh;
    width: 35vw;
} */



