.icon1{
    font-size: 100px;
    margin-left: 47%;
    color: azure;
}
.icon2{
    font-size: 50px;
    margin: 15px;
    color: azure;
}
body{
    background-image: url("https://t3.ftcdn.net/jpg/01/22/71/96/360_F_122719641_V0yw2cAOrfxsON3HeWi2Sf4iVxhv27QO.jpg");
    background-size: cover;
    opacity: 0.9;
}
label{
    color:bisque;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.div1{
    margin-left: 41%;

}
.sub{
    margin-left: 12%;
}
.div2{
    margin-top: 100px;
}
