p{
    color: #5a7184 ;
}
h3{
    color: #cced00;
}
.image1{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.div2{
    color:#9aa5b1;
    background-color: #001c32
}
.divbg{
    background-color: #0d2436 ;
}