.button{
    color: greenyellow;
    font-weight: bolder;
}
.cardbgro{
    background-color: rgb(31, 30, 30);
}
.head4{
    color: greenyellow;
}
.bodydiv{
    background-color: rgba(9, 4, 4, 0.689);
}
h3{
    color: azure;
}