.blue-bg{
    background-color: dodgerblue;
    text-align: justify;
}
.orange-bg{
    background-color: orange!important;
    text-align: justify;
}
h1{
    color: blueviolet;
    text-align: center;
}